body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

button {
  padding: 15px 32px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

button:active {
  box-shadow: none;
}

button:disabled {
  box-shadow: none;
  color: grey;
  border-style: inset;
}

.redDigit {
  color: red;
}